/*
 * -------------------------------------------------
 * vcf_reference_build_tools Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Read more in the nextflow config documentation
 * https://www.nextflow.io/docs/edge/config.html
 */


// Global default params, used in configs
params {

  //workdir
  build = "GRCh38"
  dbsnpdir="data/dbsnp"
  intermediates="out/intermediates"

}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

